 {% block content %}
 <footer>
        <div class="span">
             {% set entry = craft.entries.section('footer').first() %}
        
            <ul>
                {% for block in entry.footerLinks %}
                <li><a href="{{block.footerLink}}" target="_blank">{{block.footerLinkName}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </footer>
    {% endblock %}