 {% block content %}
 {% set homeBurger = craft.entries.section('homepage').first() %}
      {% set entry = craft.entries.section('nav').first() %}
        {% set pageTitle = entry.pageTitle %}
 <nav id="nav-index">
        <a href="{{siteUrl}}">
            <div id="nav-logo-index">

           
                 {% for image in icons.logoWhite %}
    <img src="{{image.getUrl()}}"
  
         id="nav-logo-svg">
  {% endfor %}
                 </div> 


                </div>
                </a>

        </nav>
         <div id="nav-menu">
            <div id="nav-icon4" class="nav-icon-index">
                {% set dropdownValue = homeBurger.burgerMenu.value %}
                  {% if dropdownValue == 'white' %}
    <span style="background: white;"></span>
    <span style="background: white;"></span>
    <span style="background: white;"></span>
    {% endif %}
    {% if dropdownValue == 'black' %}
    <span style="background: black;"></span>
    <span style="background: black;"></span>
    <span style="background: black;"></span>
      {% endif %}
</div></div>
<div id="expanded-menu">
    <span>
        <ul>
            {% for block in entry.navigationLinks %}
            <li><a href="{{siteUrl}}{{block.navLink}}">{{block.navLinkName}}</a></li>
            {% endfor %}
        </ul>

    </span>
</div>
<script>
    $(document).ready(function(){
        $(window).scroll(function (event) {

    var scroll = $(window).scrollTop();
    if (scroll > 50) {
        console.log("50");
        $("#nav-index").css({background:"rgba(1,1,1,0.7)"})
    }
    else {
        $("#nav-index").css({background:"transparent"})
    }
});
    })
</script>
    {% endblock %}