 {% block content %}
      {% set entry = craft.entries.section('nav').first() %}
 <nav>
        <a href="{{siteUrl}}"><div id="nav-logo">
            
                {% for image in icons.logoBlack %}
    <img src="{{image.getUrl()}}"
  
         id="nav-logo-svg">
  {% endfor %}
            
            </div></a>

        </nav>
         <div id="nav-menu">
            <div id="nav-icon4">
  <span></span>
  <span></span>
  <span></span>
</div></div>
<div id="expanded-menu">
    <span>
        <ul>
            {% for block in entry.navigationLinks %}
            <li><a href="{{siteUrl}}{{block.navLink}}">{{block.navLinkName}}</a></li>
            {% endfor %}
        </ul>

    </span>
</div>
    {% endblock %}