  {% set pageTitle = entry.pageTitle %}
  {% set metaDescription = entry.metaDescription %}
  {% set seoKeywords = entry.seoKeywords %}
	<meta charset="utf-8" />
      <title>{% if title is defined %}{{ title }}{% else %}{{ pageTitle }}{% endif %}</title>
      <meta name="description" content="{% if description is defined %}{{ description }}{% else %}{{ metaDescription }}{% endif %}"/>
      <meta name="keywords" content="{{ seoKeywords }}"/>
	    <meta property="og:site_name" content="{{ pageTitle }}">
	    <meta property="og:type" content="website">
    	<meta property="og:title" content="{% if title is defined %}{{ title }}{% else %}{{ pageTitle }}{% endif %}">