<svg class="work-slide-svg"  viewBox="685 286 110 112" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

        <polygon id="path-1" points="109.518939 110.230002 109.518939 0.707810961 0 0.707810961 0 110.230002"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(685.000000, 286.000000)">
        <g id="Group-3" transform="translate(0.000000, 0.003422)">
            <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            <g id="Clip-2"></g>
            <path d="M88.6398381,89.3495314 C79.5891245,98.400245 67.5574423,103.385068 54.7591275,103.385068 C41.9608126,103.385068 29.9291304,98.400245 20.880128,89.3495314 C11.8294144,80.2988178 6.84459147,68.2671356 6.84459147,55.4688208 C6.84459147,42.6722172 11.8294144,30.6388237 20.880128,21.5881101 C29.9291304,12.5373965 41.9608126,7.55257355 54.7591275,7.55257355 C67.5574423,7.55257355 79.5891245,12.5373965 88.6398381,21.5881101 C97.6905517,30.6388237 102.675375,42.6722172 102.675375,55.4688208 C102.675375,68.2671356 97.6905517,80.2988178 88.6398381,89.3495314 M54.7591275,0.707639838 C40.1332153,0.707639838 26.3817435,6.40433592 16.0407599,16.748742 C5.69635384,27.0914368 -0.000342246685,40.8429087 -0.000342246685,55.4688208 C-0.000342246685,70.0947329 5.69635384,83.8462047 16.0390487,94.1888995 C26.3817435,104.533306 40.1332153,110.230002 54.7591275,110.230002 C69.3867508,110.230002 83.1365114,104.533306 93.4792062,94.1888995 C103.823612,83.8462047 109.520308,70.0947329 109.520308,55.4688208 C109.520308,40.8429087 103.823612,27.0914368 93.4792062,16.748742 C83.1365114,6.40433592 69.3867508,0.707639838 54.7591275,0.707639838" class="svgCircle" fill="#FFFFFF" mask="url(#mask-2)"></path>
        </g>
        <path d="M49.6257694,67.2539143 L49.6257694,43.69023 L64.6213079,55.4720721 L49.6257694,67.2539143 Z M72.2756551,52.7820132 L48.3183871,33.9584455 C47.2882246,33.149032 45.8867244,32.9984435 44.7059733,33.5699955 C43.5286447,34.1432587 42.7808357,35.3394108 42.7808357,36.6485044 L42.7808357,74.2956398 C42.7808357,75.6064446 43.5286447,76.8008856 44.7059733,77.3741488 C45.1816962,77.6051653 45.693355,77.7181067 46.2033026,77.7181067 C46.9562453,77.7181067 47.702343,77.4699778 48.3183871,76.9856988 L72.2756551,58.1638423 C73.1004696,57.5152848 73.5830374,56.5227694 73.5830374,55.4720721 C73.5830374,54.423086 73.1004696,53.4305706 72.2756551,52.7820132 L72.2756551,52.7820132 Z" class="svgPlay" fill="#FFFFFF"></path>
    </g>
</svg>