
    
{% extends "_layout" %}

{% block content %}
   {% include "global/_nav" %}
    <header>
     
    <div class="header-video">
   
      
    <img id="header-video-img" src="assets/media/images/site-template-imgs/about/video-header-placeholder.jpg"
         class="header-video__media"
         data-video-URL="https://www.youtube.com/embed/Scxs7L0vhZ4"
         data-teaser="video/vi"
         data-video-width="560"
         data-video-height="315">


</div>
    </header>
    
    <div class="container intro projects">
        <div class="col-6">
        <h2>{{entry.projectHeading}}</h2>
        </div>
        <div class="col-5">
        <p>{{entry.projectText}}</p>
        </div>
    </div>

    <div class="container">
        <div class="slider">
              {% for block in entry.projectSlider %}  
      <div class="col-2">
          {% for image in block.slide %}
          <a href="{{image.getUrl()}}" data-lightbox="roadtrip"><img src="{{image.getUrl()}}" /> </a></div>
            {% endfor %}
        </div>
             {% endfor %}
    </div>
   
    
    <div class="container">
        <div class="lg-work-img"><img src="img/lg-work-img.jpg"/div>

    </div>
    <div class="work-video-3col">
        
   
            <div class="col-3">
              <img src="" /></div>
             <div class="col-3">
              <img src="" /></div>
             <div class="col-3">
                <img src="" /></div>
        
        </div>
    </div>


    <script>
    $(window).resize(function(){
        var windowHeight = $(window).height();
        var a = (35 / 100) * (windowHeight);
        console.log(a); 
          var height = $(".work-video-header").height();
    console.log(height);
    })
  
</script>
 {% endblock %}