
    
{% extends "_layout" %}

{% block content %}
{% include "global/_seo" %}
{% include "global/_nav" %}
         <div class="video-lightbox-header">
              <svg id="header-video-closeBtn" width="29px" height="29px" viewBox="1412 35 29 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <defs></defs>
    <path d="M1439.64991,35.8696636 C1438.51557,34.7353195 1437.4059,34.7106603 1436.32088,35.795685 L1426.25979,45.8567731 L1416.1987,35.795685 C1415.11368,34.7106603 1414.00401,34.7353195 1412.86966,35.8696636 C1411.73532,37.0040076 1411.71066,38.1136753 1412.79568,39.1987001 L1422.85677,49.2597882 L1412.79568,59.3208763 C1411.71066,60.405901 1411.73532,61.5155687 1412.86966,62.6499128 C1414.00401,63.7842568 1415.11368,63.8089161 1416.1987,62.7238913 L1426.25979,52.6628033 L1436.32088,62.7238913 C1437.4059,63.8089161 1438.51557,63.7842568 1439.64991,62.6499128 C1440.78426,61.5155687 1440.80892,60.405901 1439.72389,59.3208763 L1429.6628,49.2597882 L1439.72389,39.1987001 C1440.80892,38.1136753 1440.78426,37.0040076 1439.64991,35.8696636 Z" id="" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
</svg></a>
       {% if entry.projectHeaderVideoVimeo|length %}
         <iframe id="about-video" src="//player.vimeo.com/video/{{entry.projectHeaderVideoVimeo}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
       
   
         {% endif %}
             
             </div> 
    <div class="header-video">

       

    <defs></defs>
    <path d="M1439.64991,35.8696636 C1438.51557,34.7353195 1437.4059,34.7106603 1436.32088,35.795685 L1426.25979,45.8567731 L1416.1987,35.795685 C1415.11368,34.7106603 1414.00401,34.7353195 1412.86966,35.8696636 C1411.73532,37.0040076 1411.71066,38.1136753 1412.79568,39.1987001 L1422.85677,49.2597882 L1412.79568,59.3208763 C1411.71066,60.405901 1411.73532,61.5155687 1412.86966,62.6499128 C1414.00401,63.7842568 1415.11368,63.8089161 1416.1987,62.7238913 L1426.25979,52.6628033 L1436.32088,62.7238913 C1437.4059,63.8089161 1438.51557,63.7842568 1439.64991,62.6499128 C1440.78426,61.5155687 1440.80892,60.405901 1439.72389,59.3208763 L1429.6628,49.2597882 L1439.72389,39.1987001 C1440.80892,38.1136753 1440.78426,37.0040076 1439.64991,35.8696636 Z" id="" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
</svg> </a>
           {% for image in entry.projectHeaderImage %}
    <img src="{{image.getUrl()}}"
  
         class="header-video__media">
  {% endfor %}

    {% if entry.projectHeaderVideoVimeo|length or entry.projectHeaderVideo|length %}
 
  <div id="workdetail-header-text">

<svg id="workdetail-header-svg"  viewBox="685 286 110 112" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

        <polygon id="path-1" points="109.518939 110.230002 109.518939 0.707810961 0 0.707810961 0 110.230002"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(685.000000, 286.000000)">
        <g id="Group-3" transform="translate(0.000000, 0.003422)">
            <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            <g id="Clip-2"></g>
            <path d="M88.6398381,89.3495314 C79.5891245,98.400245 67.5574423,103.385068 54.7591275,103.385068 C41.9608126,103.385068 29.9291304,98.400245 20.880128,89.3495314 C11.8294144,80.2988178 6.84459147,68.2671356 6.84459147,55.4688208 C6.84459147,42.6722172 11.8294144,30.6388237 20.880128,21.5881101 C29.9291304,12.5373965 41.9608126,7.55257355 54.7591275,7.55257355 C67.5574423,7.55257355 79.5891245,12.5373965 88.6398381,21.5881101 C97.6905517,30.6388237 102.675375,42.6722172 102.675375,55.4688208 C102.675375,68.2671356 97.6905517,80.2988178 88.6398381,89.3495314 M54.7591275,0.707639838 C40.1332153,0.707639838 26.3817435,6.40433592 16.0407599,16.748742 C5.69635384,27.0914368 -0.000342246685,40.8429087 -0.000342246685,55.4688208 C-0.000342246685,70.0947329 5.69635384,83.8462047 16.0390487,94.1888995 C26.3817435,104.533306 40.1332153,110.230002 54.7591275,110.230002 C69.3867508,110.230002 83.1365114,104.533306 93.4792062,94.1888995 C103.823612,83.8462047 109.520308,70.0947329 109.520308,55.4688208 C109.520308,40.8429087 103.823612,27.0914368 93.4792062,16.748742 C83.1365114,6.40433592 69.3867508,0.707639838 54.7591275,0.707639838" id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
        </g>
        <path d="M49.6257694,67.2539143 L49.6257694,43.69023 L64.6213079,55.4720721 L49.6257694,67.2539143 Z M72.2756551,52.7820132 L48.3183871,33.9584455 C47.2882246,33.149032 45.8867244,32.9984435 44.7059733,33.5699955 C43.5286447,34.1432587 42.7808357,35.3394108 42.7808357,36.6485044 L42.7808357,74.2956398 C42.7808357,75.6064446 43.5286447,76.8008856 44.7059733,77.3741488 C45.1816962,77.6051653 45.693355,77.7181067 46.2033026,77.7181067 C46.9562453,77.7181067 47.702343,77.4699778 48.3183871,76.9856988 L72.2756551,58.1638423 C73.1004696,57.5152848 73.5830374,56.5227694 73.5830374,55.4720721 C73.5830374,54.423086 73.1004696,53.4305706 72.2756551,52.7820132 L72.2756551,52.7820132 Z" id="Fill-4" fill="#FFFFFF"></path>
    </g>
</svg>
      
        </div>
        {% endif %}
     



</div>

    <div class="container intro work-project">
        <div class="work-col-left">
        <h2>{{entry.projectHeading}}</h2>
        </div>
        <div class="work-col-right">
        <p>{{entry.projectText}}</p>
        </div>
    </div>

    <div class="container">
           {% if entry.projectSlider|length > 1 %}
        <div id="slider-container">
            
        <svg id="slider-arrow-left" width="32px" height="55px" viewBox="28 1422 32 55" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <path d="M58.8075535,1423.88818 C57.7324846,1422.74937 55.9407031,1422.6998 54.8033114,1423.77345 L29.3076064,1447.85273 C28.7410352,1448.38814 28.4195061,1449.13318 28.4195061,1449.91221 C28.4195061,1450.69125 28.7410352,1451.43629 29.3076064,1451.9717 L54.8033114,1476.05098 C55.3500526,1476.56797 56.0497681,1476.82435 56.7480671,1476.82435 C57.5001904,1476.82435 58.2494808,1476.5269 58.8075535,1475.93625 C59.8812059,1474.79886 59.8302145,1473.00566 58.6928228,1471.932 L35.3784171,1449.91221 L58.6928228,1427.89242 C59.8302145,1426.81877 59.8812059,1425.02557 58.8075535,1423.88818" id="Imported-Layers-Copy" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
</svg>


<svg id="slider-arrow-right" width="32px" height="54px" viewBox="28 1423 32 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 
    <path d="M58.8075535,1423.88818 C57.7324846,1422.74937 55.9407031,1422.6998 54.8033114,1423.77345 L29.3076064,1447.85273 C28.7410352,1448.38814 28.4195061,1449.13318 28.4195061,1449.91221 C28.4195061,1450.69125 28.7410352,1451.43629 29.3076064,1451.9717 L54.8033114,1476.05098 C55.3500526,1476.56797 56.0497681,1476.82435 56.7480671,1476.82435 C57.5001904,1476.82435 58.2494808,1476.5269 58.8075535,1475.93625 C59.8812059,1474.79886 59.8302145,1473.00566 58.6928228,1471.932 L35.3784171,1449.91221 L58.6928228,1427.89242 C59.8302145,1426.81877 59.8812059,1425.02557 58.8075535,1423.88818" id="Imported-Layers-Copy" stroke="none" fill="#FFFFFF" fill-rule="evenodd" transform="translate(44.000000, 1449.912174) rotate(180.000000) translate(-44.000000, -1449.912174) "></path>
</svg>


        <div class="slider">

 

           
             
             
              {% for block in entry.projectSlider %}  
            
     {% if block.type == "projectSlider" %}
          {% for image in block.slide %}
           <div class="col-2 slider-image">
          <a href="{{image.getUrl()}}" data-lightbox="roadtrip"><img src="{{image.getUrl()}}" /> </a></div>
            {% endfor %}
   {% endif %}

   {% if block.type == "projectSliderVid" %}
          {% for image in block.slide %}
     
           <div class="col-2 slider-col-videoplay slider-image-container">
                    
               {% include "/global/_worksvg" %}
          <img class="slider-image" src="{{image.getUrl()}}" /> 
            {% endfor %}

{% if block.slideVideoVimeo|length %}
       <div class="sliderVideoUrl">{{block.slideVideoVimeo}}</div></div>
{% else %}
            {% for video in block.slideVideo %}
            <div class="sliderVideoUrl">{{video.getUrl()}}</div></div>
       
            {% endfor %}
            {% endif %}
           
   {% endif %}

             {% endfor %}

              {% elseif entry.projectSlider|length < 2 %}
 <div id="slider-container">
            
     


        <div class="slider">

 

           
             
             
              {% for block in entry.projectSlider %}  
            
     {% if block.type == "projectSlider" %}
          {% for image in block.slide %}
           <div class="col-2 slider-image-noslide noSlideHeight">
          <a href="{{image.getUrl()}}" data-lightbox="roadtrip"><img src="{{image.getUrl()}}" /> </a></div>

            <div class="col-2 slider-image-noslide">
                 <div class="slider-single-text">
              <div class="slider-single-col">
<svg width="40px" height="20px" viewBox="795 1467 81 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">


    <defs></defs>
    <g id="Group-Copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(795.240530, 1467.960938)">
        <polygon id="Rectangle-6-Copy-5" fill="#5EB563" points="27.3461538 0 29.7016584 0 51.6538462 18.546789 49.2983416 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-3" fill="#5EB563" points="45.5769231 0 47.9324277 0 69.8846154 18.546789 67.5291108 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-6" fill="#5EB563" points="9.11538462 0 11.4708892 0 33.4230769 18.546789 31.0675723 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-2" fill="#5EB563" points="54.6923077 0 57.0478123 0 79 18.546789 76.6444954 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-7" fill="#5EB563" points="18.2307692 0 20.5862738 0 42.5384615 18.546789 40.182957 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-4" fill="#5EB563" points="36.4615385 0 38.817043 0 60.7692308 18.546789 58.4137262 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-8" fill="#5EB563" points="0 0 2.35550459 0 24.3076923 18.546789 21.9521877 18.546789"></polygon>
    </g>
</svg>
<p>{{entry.singleSlideText}}</p>
              </div>
            </div>
  </div>
            {% endfor %}
   {% endif %}

   {% if block.type == "projectSliderVid" %}
          {% for image in block.slide %}
     
           <div class="col-2 slider-col-videoplay slider-image-container noSlideHeight">
                    
               {% include "/global/_worksvg" %}
          <img class="slider-image" src="{{image.getUrl()}}" /> 
          
            {% endfor %}

{% if block.slideVideoVimeo|length %}
       <div class="sliderVideoUrl">{{block.slideVideoVimeo}}</div></div>
  <div class="col-2 slider-image-noslide">
             <div class="slider-single-text">
              <div class="slider-single-col">
<svg width="40px" height="20px" viewBox="795 1467 81 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">


    <defs></defs>
    <g id="Group-Copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(795.240530, 1467.960938)">
        <polygon id="Rectangle-6-Copy-5" fill="#5EB563" points="27.3461538 0 29.7016584 0 51.6538462 18.546789 49.2983416 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-3" fill="#5EB563" points="45.5769231 0 47.9324277 0 69.8846154 18.546789 67.5291108 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-6" fill="#5EB563" points="9.11538462 0 11.4708892 0 33.4230769 18.546789 31.0675723 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-2" fill="#5EB563" points="54.6923077 0 57.0478123 0 79 18.546789 76.6444954 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-7" fill="#5EB563" points="18.2307692 0 20.5862738 0 42.5384615 18.546789 40.182957 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-4" fill="#5EB563" points="36.4615385 0 38.817043 0 60.7692308 18.546789 58.4137262 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-8" fill="#5EB563" points="0 0 2.35550459 0 24.3076923 18.546789 21.9521877 18.546789"></polygon>
    </g>
</svg>
<p>{{entry.singleSlideText}}</p>
            </div>
             </div>
  </div>
            {% endif %}
           
   {% endif %}

             {% endfor %}
    {% endif %}  
    </div>
 
   
        </div>
        <div class="video-lightbox">
      
<svg id="video-lightbox-closeBtn" width="29px" height="29px" viewBox="1412 35 29 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <defs></defs>
    <path d="M1439.64991,35.8696636 C1438.51557,34.7353195 1437.4059,34.7106603 1436.32088,35.795685 L1426.25979,45.8567731 L1416.1987,35.795685 C1415.11368,34.7106603 1414.00401,34.7353195 1412.86966,35.8696636 C1411.73532,37.0040076 1411.71066,38.1136753 1412.79568,39.1987001 L1422.85677,49.2597882 L1412.79568,59.3208763 C1411.71066,60.405901 1411.73532,61.5155687 1412.86966,62.6499128 C1414.00401,63.7842568 1415.11368,63.8089161 1416.1987,62.7238913 L1426.25979,52.6628033 L1436.32088,62.7238913 C1437.4059,63.8089161 1438.51557,63.7842568 1439.64991,62.6499128 C1440.78426,61.5155687 1440.80892,60.405901 1439.72389,59.3208763 L1429.6628,49.2597882 L1439.72389,39.1987001 C1440.80892,38.1136753 1440.78426,37.0040076 1439.64991,35.8696636 Z" id="" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
</svg>
           
        </div>
    </div>
    
<script>
$(document).ready(function(){
  
    setTimeout(function(){ 
     var videoUrl = $(".sliderVideoUrl").eq(1).html()

}, 
        
        10);
$(".slider .col-2 .work-slide-svg").click(function(event){

       var index = $(this).index('.work-slide-svg');


  var videoUrl = $(".sliderVideoUrl").eq(index).html()

     $('.video-lightbox').append('<div class="video-lightbox-overlay"> <iframe id="about-video" src="//player.vimeo.com/video/'+ videoUrl +'" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>');
 $('.video-lightbox').css( 'pointer-events', 'all' );
//   $('html, body').animate({ scrollTop: $(".video-lightbox").offset().top }, 200);
    $(".video-lightbox").stop().animate({
     opacity: 1
 },350, function() {
 
    $("#slider-video")[0].play();
 });

})





$("#video-lightbox-closeBtn").click(function(){
     $('.video-lightbox').css( 'pointer-events', 'none' );
    // $('html, body').animate({ scrollTop: $(".slider").offset().top }, 100);
   
    // $("#slider-video")[0].pause();
    $(".video-lightbox").stop().animate({
     opacity: 0
 },500, function() {
  $('.video-lightbox-overlay').remove()
  
 });

})
})

</script>
     {% if entry.projectSnapshot|length %}
    <div class="container">
        <div class="lg-work-img"><img src="
        {% for image in entry.projectSnapshot %}
       {{image.getUrl()}} {% endfor %}">
        
        </div>

    </div>
       
   <div class="visit-btn"> <ul><li><a href="{{entry.projectUri}}">{{entry.projectLinkText}}</a></li></ul></div>

   {% endif %}
 {% if entry.relatedProjects|length %}
    <div id="related-work"><p>RELATED WORK</p></div>
    <div class="work-video-3col">
        
   {% for entry in entry.relatedProjects %}
 
            <div onclick="location.href='{{siteUrl}}{{entry.slug}}';" class="col-3 relatedProjects" {% for image in entry.projectHeaderImage %}
            style="background-image: url(  {{image.getUrl()}})"
              {% endfor %}> 

                    <div class="relatedProjects-whitebox"></div>
              <ul>
                  <li class="relatedTitle">{{entry.title}}</li>
                  <li class="relatedSub"><p>{{entry.projectTagline}}</p></li>

   
              </div>
       
   
        
        {% endfor %}
        </div>
        {% endif %}
    </div>


    <script>
        $(document).ready(function(){
            setTimeout(singleSlide, 250)
            function singleSlide(){
            var noSliderColHeight = $(".noSlideHeight").height();
 $(".slider-single-text").css({height: noSliderColHeight})

            };
    });
  
        
    $(window).resize(function(){
        var windowHeight = $(window).height();
        var a = (35 / 100) * (windowHeight);
   
          var height = $(".work-video-header").height();
   

var noSliderColHeight = $(".noSlideHeight").height();
 $(".slider-single-text").css({height: noSliderColHeight})
    })
  
</script>
 {% endblock %}