body {
    overflow-x: hidden;
}

img {
    width: 100%;
}

h2 {
    font-size: 35px;
}

.col-md-6 {
    padding: 0;
}

.col-6 {
    width: 70%;

}

.col-5 {
    width: 30%;
}

.col-md-4 {
    padding: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.col-md-4 p {
    
}

nav {
    width: 100%;
    height: 50px;
    position: fixed;
    overflow-x: hidden;
    overflow: hidden;
    background-color: black;
    z-index: 100;
}

#header-text {
    width: 45%;
    border: solid 2px red;
    z-index: 100;
    position: absolute;
    bottom: 30%;
}

#header-text > *{
   padding: 0 0 30 15;
}

.container {
    width: 100%;
    padding: 0;
}

.third {
    /*    height: 30%;*/
    /*    min-height: 200px;*/
    padding: 10 0 10 0;
    background-color: red;
}

.intro {
    
    padding: 125 40px 50 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects {
    padding: 200 0 75 0;
}

.intro-projects .col-md-6 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}



.project-name {
    width: 50%;
    position: absolute;
    border: solid 2px red;
    text-align: center;
}

.project-name p:first-of-type {
    font-size: 22px;
}


.intro-services {
    padding-bottom: 100px;
}

.span-col-2 {
    background-color: white;
    width: 100%;
    height: 50%;
    border: solid 2px blue;
    display: flex;
    flex-direction: row;
}

.span-col-2 .col-2 {
    width: 50%;
    height: 100%;
    border: solid 2px red;
}

@media screen and (max-width: 700px) {
    .span-col-2 {
        background-color: white;
        widows: 100%;
        height: 50%;
        border: solid 2px blue;
        flex-direction: column;
    }
    .intro-work {
        min-height: 200px;
    }
    .span-col-2 .col-2 {
        width: 100%;
        height: 100%;
        border: solid 2px red;
    }
    
    .intro {
    flex-direction: column;
        align-items: center;
}
    
    
.col-5, .col-6 {
width: 70%;
padding: 10;
}
    
.project-wide {
justify-content: center;
    }

}
.intro-services-col {
    min-height: 250px;
    border: 2px solid red;
}

.intro-services-col-text {
   padding: 45px 50px 55px 50px;
}

.intro-services-col p:first-of-type {
    font-size: 25px;
}


.col-md-6 img {
    width: 100%;
}

.services {
    padding: 0;
}

.project-wide {
    height: 300px;
    display: flex;
    align-items: center;
   
}

#project-wide-span  {
    width: 50%;
    height: 100%;
    position: relative;
    display: block;
}

#project-wide-span > * {
    margin: 0;
    text-align: center;
    line-height: 200px;
}

.get-a-bid {
    width: 95%;
    height: 400px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10% 5% 10% 5%;
    
    
}

.work-video-header {
    width: 100%;
    min-height: 400px;
    border: 2px red solid;
}


.red-alert-box {
    width: 200px;
    height: 200px;
    background-color: #c22034;
}

footer {
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    align-content: center;
    align-items: center;
}

footer .span {
    border: solid 2px white;
    height: 150px;
    width: 250px;
    margin: 0 auto;
}

/* ====================================
   Demo specific styling
   ==================================== */

.header-video {
  position: relative;
  overflow: hidden;
}

.header-video iframe,
.header-video video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-video iframe {
  height: 100%;
  width: 100%;
}

.header-video video {
  width: 100%;
}

.header-video__teaser-video {
  width: 100%;
  height: auto; 
}

.header-video__media {
  width: 100%;
  height: auto;
}

/* ====================================
   Just making stuff pretty
   ==================================== */



.header-video__play-trigger {
  z-index: 5;
  position: absolute;
  background: rgba(0,0,0,.3);
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 1.5em 3em;
  z-index: 5;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  transition: background .5s;
}

.header-video__play-trigger:hover {
  background: rgba(0,0,0,.5);
}

/**
  Just some basic styling for the closing trigger
**/

.header-video__close-trigger {
  z-index: 99;
  position: absolute;
  background: #A61212;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 2em 3em;
  border-radius: 10px;
  right: 30px;
  top: 30px;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
  transition: background .3s;  
  border: none;
}
.header-video__close-trigger:hover {
  background: #363636;
  cursor: pointer;
}


.project-name-hover {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}

.project-name-hover:hover {
  opacity: 1;
}

