body {
    overflow-x: hidden;
    font-family: Metrisch;
}
@font-face {
    font-family: Metrisch;
    src: url('fonts/Metrisch');
}

@font-face {
    font-family: Metrischbold;
    src: url('fonts/Metrisch/metrisch-bold');
}

img {
    width: 100%;
}

a {
    
}

h2 {
    font-size: 35px;
}

.col-2 {
    width: 50%;
    height: 200px;
    border: solid 2px red;
    display: flex;
    flex-direction: row;
}
.col-3 {
    width: 34%;
    height: 300px;
}
.col-md-6 {
    padding: 0;
}

.col-6 {
    width: 50%;

}

.col-5 {
    width: 50%;
}

.col-md-4 {
    padding: 1px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.col-md-4 .project-box {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    font-weight: bold;
    width: 100%;
    height: 100%;
    
}

.col-md-4 .project-box h5{
letter-spacing: 6;
}


.col-md-4 .project-box p {
    position: relative;
}
.col-md-4 .project-box> * {
    padding: 5px;
}
.col-md-4 .project-box svg {
    height: 50px;
}

@media screen and (max-width: 767px){
 .col-md-4 .project-box {
    opacity: 1;
    
}
}


/* nav */

nav {
    width: 100%;
    height: 50px;
    position: fixed;
    overflow-x: hidden;
    overflow: hidden;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: row;

}

#nav-logo {
 padding: 10;
 display: inline-block;
}

#nav-logo-svg {
    width: 250px;
}

#nav-menu {
    position: fixed;
    right: 30px;
    z-index: 100;
    /* width: 100px; */
    top: 5px;
    /* height: 100px; */
}

#expanded-menu {
width: 100%;
height: 100%;
background-color: #282C2B;
position: absolute;
z-index: 11;
opacity: 0;
display: none;
}

#expanded-menu span {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

}

#expanded-menu span ul {
    position: relative;
    margin-left: 20%;
    list-style: none;
    font-family: Metrisch;
    letter-spacing: 8;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

#expanded-menu span ul li {
 padding: 10 0 10 0;
 
}

/*#expanded-menu span ul li:hover {
    border-bottom: 4px solid #5EB563;
}*/



/* nav */

#the-work {
    width: 100%;
    background-color: white;
    border: solid 2px red;
    position: relative;
    color: black;
    display: flex;
    font-family: Metrisch;
    padding: 110px 25px 20px 25px;
    z-index: 10;
}

#the-work-text {
 width: 100%;
 font-size: 35px;
 letter-spacing: 12px;
}

#the-work-filter {

}

#filter {
    width: 100%;
    height: 125px;
    background-color: black;
    position: relative;
    top: -125px;
    z-index: 0;
    align-content: center;
}

#filter ul {
    text-align: center;
    padding: 50px;
}

#filter ul li {
    display: inline;
    margin: 0 25 0 25;
    font-size: 13px;
    font-family: Metrisch;
    color: white;
    letter-spacing: 3.5;
}
#filter ul li:hover {

}

#header-text {
    width: 45%;
    border: solid 2px red;
    z-index: 100;
    position: absolute;
    bottom: 30%;
}

#header-text > *{
   padding: 0 0 30 15;
}

.container {
    width: 100%;
    padding: 0;
}

.third {
    /*    height: 30%;*/
    /*    min-height: 200px;*/
    padding: 10 0 10 0;
    background-color: red;
}

.intro {
    padding: 125px 100px 50px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects {
    /*padding: 200 0 75 0;*/
}

.intro-projects .col-md-6 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}



.project-name {
    width: 50%;
    position: absolute;
    border: solid 2px red;
    text-align: center;
}

.project-name p {
    margin: 0;
    padding: 0;
}

.project-name > * {

    margin: 10px 0px 10px 0px;

}

.slider {
    display: flex;
    flex-direction: row;
    height: 200px;
}

.project-name p:first-of-type {
    font-size: 22px;
}

#see-the-work {

    width: 100%;
    height: 50px;
    background-color: black;
}

#see-the-work p {
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
}


.span-col-2 {
    background-color: white;
    width: 100%;
    height: 50%;
    border: solid 2px blue;
    display: flex;
    flex-direction: row;
}

.span-col-2 .col-2 {
    width: 50%;
    height: 100%;
    border: solid 2px red;
}

  /* work */

    .lg-work-img {
        padding: 50px 100px 50px 100px;
    }




.intro-services-col {
    min-height: 250px;
    border: 2px solid red;
}

.intro-services-col-text {
   padding: 45px 50px 55px 50px;
}

.intro-services-col p:first-of-type {
    font-size: 25px;
}


.col-md-6 img {
    width: 100%;
}

.services {
    padding: 0;
}

.project-wide {
    height: 380px;
    display: flex;
   position: relative;
}

.project-wide-overlay {
    width: 100%;
}

.project-wide-overlay:hover {
    opacity: 1;
    transition: 300ms;
}

.project-wide-overlay:not(:hover) {
transition: 300ms;
opacity: 1;
}

.project-wide .project-wide-overlay .col-6{
    padding: 100px 0px 0px 35px;

    }

.project-wide .project-wide-overlay .col-6 ul {
    list-style: none;
    text-decoration: none;
}    

.project-wide .project-wide-overlay .col-6 ul li {
    padding: 15 0 15 0;
}



#project-wide-span  {
    width: 50%;
    height: 100%;
    position: relative;
    display: block;
}

#project-wide-span > * {
    margin: 0;
    text-align: center;
    line-height: 200px;
}

.overlay-clip {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: polygon(0% 0%, 85% 0, 100% 33%, 100% 100%, 0% 100%);
}

.overlay-arrow {
 position: absolute;
 right: 2%;
 padding: 10px;
}

.get-a-bid {
    width: 100%;
    height: 400px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10% 5% 10% 5%;
     
}
.get-a-bid h2 {
    letter-spacing: 9.30;
}

.get-a-bid div {
    width: 50%;
    margin-left: 50%;
}

.get-a-bid p {
    padding: 20px 0 0 0;
    
    
}

.get-a-bid li {
    text-decoration: none;
    list-style: none;
    border-bottom-color: rgb(108, 187, 69);
    text-transform: uppercase;
    letter-spacing: 4;

 color: white;
    cursor: pointer;
    display: inline-block;
   
    
}

.get-a-bid li:hover, #filter ul li:hover {
border-bottom-color: rgb(108, 187, 69);
 border-bottom: 4px solid #5EB563;
 padding-bottom: 2px;
}

a.hover span {
    border-bottom: 2px solid;
    width: 100px;
    color: green;
}





.work-video-header {
    width: 100%;
    height: 50%;
    border: 2px red;
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    align-content: center;
 
}

.work-video-header img {
    /*position: absolute;*/
    z-index: 0;
}


#work-video {
width: 80%;
    height: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: solid 2px red;
    top: 20%;
    position: absolute;
    margin: 0 auto;
}

.work-video-3col {
    width: 100%;
    /*padding: 50 0 50 0;*/
    background-color: grey;
    display: flex;
    flex-direction: row
 
    
}

.red-alert-box {
    width: 200px;
    height: 200px;
    background-color: #c22034;
}

footer {
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    align-content: center;
    align-items: center;
}

footer .span {
    border: solid 2px white;
    height: 150px;
    width: 250px;
    margin: 0 auto;
}



.header-video {
  position: relative;
  overflow: hidden;
}

.header-video iframe,
.header-video video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-video iframe {
  height: 100%;
  width: 100%;
}

.header-video video {
  width: 100%;
}

.header-video__teaser-video {
  width: 100%;
  height: auto; 
}

.header-video__media {
display: inherit;
  width: 100%;
  height: auto;
}

.header-video-overlay {
    position: absolute;
    z-index: 999;
    background-color: rgba(0,0,0, 0.4);
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}


.header-video__play-trigger {
  z-index: 5;
  position: absolute;
  background: rgba(0,0,0,.3);
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 1.5em 3em;
  z-index: 5;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  transition: background .5s;
}

.header-video__play-trigger:hover {
  background: rgba(0,0,0,.5);
}

/**
  Just some basic styling for the closing trigger
**/

.header-video__close-trigger {
  z-index: 99;
  position: absolute;
  background: #A61212;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 2em 3em;
  border-radius: 10px;
  right: 30px;
  top: 30px;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
  transition: background .3s;  
  border: none;
}
.header-video__close-trigger:hover {
  background: #363636;
  cursor: pointer;
}


/**
burger menu animation 

**/
* {
  margin: 0;
  padding: 0; 
}

/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 50px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 2 */

#nav-icon2 {
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 26px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}



@media screen and (max-width: 700px) {

.header-video-overlay {
clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 100% 100%, 100% 68%, 47% 33%);
}

.overlay-clip {
clip-path: polygon(0% 0%, 75% 0, 100% 33%, 100% 100%, 0% 100%);
}
    .span-col-2 {
        background-color: white;
        widows: 100%;
        height: 50%;
        border: solid 2px blue;
        flex-direction: column;
    }
    .intro-work {
        min-height: 200px;
    }
    .span-col-2 .col-2 {
        width: 100%;
        height: 100%;
        border: solid 2px red;
    }
    
    .intro {
    flex-direction: column;
        align-items: center;
        padding: 85px 0px 50px 0px;
}
  
.project-wide .project-wide-overlay .col-6 {
        padding: 45px 0px 0px 25px;
}

.col-5, .col-6 {
width: 70%;
padding: 10;
}
    
.project-wide {
justify-content: center;
    }

.work-video-3col {
    flex-direction: column;
}

.col-3 {
    width: 100%;
    height: 300px;
}


}

@media screen and (max-width: 600px) {
    .header-video__media {
        display: none;
    }
    .header-video {
        height: 500px;
        
    }

    #the-work-text {
    font-size: 25px;
}

.overlay-clip {
clip-path: polygon(0 18%, 45% 47%, 100% 85%, 100% 0, 0 0);
}

.overlay-arrow {
    display: none;
}
    #header-text {
    width: 70%;
    bottom: 20%;
}

.project-wide .project-wide-overlay .col-6 {
    padding: 20px 20px 0px 0px;
    width: 50%;
    float: right;
}

.project-wide .project-wide-overlay .col-6 ul {
    text-align: right;
}

.project-wide .project-wide-overlay .col-6 ul li {
    padding: 0;
}
.project-wide .project-wide-overlay .col-6 ul li p {
    font-size: 12px;
}

h2 {
    font-size: 20px;
}
}