{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "404" %}

{% block content %}
   {% include "global/_nav" %}
	<h1>Page not found</h1>
<div id="four0four">
	


<svg  viewBox="377 259 726 211" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <defs></defs>
    <text id="4-4" stroke="none" fill="none" font-family="Metrisch-Medium, Metrisch" font-size="174" font-weight="400" letter-spacing="67.0999985">
        <tspan x="478.748002" y="425.597656" fill="#282C2B">4  </tspan>
        <tspan x="890.587998" y="425.597656" fill="#282C2B">4</tspan>
    </text>
    <g id="spa-death-star-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(681.000000, 307.409984)" stroke-linecap="round" stroke-linejoin="round">
        <path d="M32.7624834,19.255419 C26.1574794,25.8626734 25.3945846,35.805061 31.0544091,41.4671359 C36.716484,47.1292109 46.661122,46.3640656 53.266126,39.7590617 C59.87113,33.1540577 60.6385257,23.2094197 54.9742003,17.5473447 C49.3143758,11.8875202 39.3697378,12.6504151 32.7624834,19.255419 L32.7624834,19.255419 Z" id="Stroke-159" stroke="#000000" stroke-width="5"></path>
        <path d="M41.2652726,30.0088606 C37.9616454,33.3102373 37.5790728,38.2836816 40.4101103,41.1124686 C43.2411477,43.9457565 48.214592,43.5609335 51.5159687,40.2595567 C54.8173455,36.9581799 55.1999181,31.9847357 52.3711311,29.1536982 C49.5400936,26.3204103 44.5666494,26.7052334 41.2652726,30.0088606 L41.2652726,30.0088606 Z" id="Stroke-160" stroke="#000000" stroke-width="5"></path>
        <path d="M0.25213623,58 L117.274353,58" id="Stroke-161" stroke="#000000" stroke-width="5"></path>
        <polyline id="Stroke-162" stroke="#000000" stroke-width="5" points="81.2675171 22.7564087 72.2658081 22.7564087 72.2658081 31.7581177 81.2675171 31.7581177 103.77179 31.7581177"></polyline>
        <polyline id="Stroke-163" stroke="#000000" stroke-width="5" points="90.2692261 31.7581177 90.2692261 40.7598267 99.2709351 40.7598267"></polyline>
        <path d="M67.7649536,40 L81.2675171,40" id="Stroke-164" stroke="#000000" stroke-width="5"></path>
        <path d="M72.2658081,13 L81.2675171,13" id="Stroke-165" stroke="#000000" stroke-width="5"></path>
        <path d="M72.2658081,49 L81.2675171,49" id="Stroke-166" stroke="#000000" stroke-width="5"></path>
        <path d="M67.7649536,31 L72.2658081,31" id="Stroke-167" stroke="#000000" stroke-width="5"></path>
        <path d="M54.2623901,94 L67.7649536,94" id="Stroke-168" stroke="#000000" stroke-width="5"></path>
        <path d="M76.7666626,67 L85.7683716,67" id="Stroke-169" stroke="#000000" stroke-width="5"></path>
        <path d="M67.7649536,85 L76.7666626,85" id="Stroke-170" stroke="#000000" stroke-width="5"></path>
        <path d="M63.2640991,103 L67.7649536,103" id="Stroke-171" stroke="#000000" stroke-width="5"></path>
        <path d="M85.7683716,76.7666626 L76.7666626,76.7666626 L76.7666626,85.7683716 L94.7700806,85.7683716 L94.7700806,94.7700806 L67.7649536,94.7700806 L67.7649536,103.77179 L96.1518429,103.77179 C86.0114177,112.20189 72.9791935,117.274353 58.7632446,117.274353 C26.4493598,117.274353 0.25213623,91.0771295 0.25213623,58.7632446 C0.25213623,26.4493598 26.4493598,0.25213623 58.7632446,0.25213623 C72.9791935,0.25213623 86.0114177,5.32234882 96.1495925,13.7524493 L96.1495925,13.7546997 L81.2675171,13.7546997 L81.2675171,22.7564087 L85.7683716,22.7564087" id="Stroke-172" stroke="#000000" stroke-width="5"></path>
        <path d="M90.2692261,40.7598267 L81.2675171,40.7598267 L81.2675171,49.7615356 L116.585722,49.7615356 C117.038058,52.6983432 117.274353,55.7026636 117.274353,58.7632446 C117.274353,61.8193248 117.038058,64.8236452 116.587973,67.7559519 L116.583472,67.7649536 L85.7683716,67.7649536 L85.7683716,76.7666626 L108.272644,76.7666626" id="Stroke-173" stroke="#000000" stroke-width="5"></path>
        <path d="M103.77179,85 L94.7700806,85" id="Stroke-174" stroke="#000000" stroke-width="5"></path>
    </g>
</svg>
<span>
	<p>IT’S A TRAP!</p>
	<p>We couldn’t find the page you were looking for</p>
	</span>
</div>
{% endblock %}
