
    
{% extends "_layout" %}

{% block content %}
{% include "global/_seo" %}
{% include "global/_nav" %}
  
    <header>
           <div class="video-lightbox-header">
      {% if entry.videoHeaderVimeo|length %}
       <iframe id="about-video" src="//player.vimeo.com/video/{{entry.videoHeaderVimeo}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
       
   
         {% endif %}

      <svg id="about-video-closeBtn" width="29px" height="29px" viewBox="1412 35 29 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <defs></defs>
    <path d="M1439.64991,35.8696636 C1438.51557,34.7353195 1437.4059,34.7106603 1436.32088,35.795685 L1426.25979,45.8567731 L1416.1987,35.795685 C1415.11368,34.7106603 1414.00401,34.7353195 1412.86966,35.8696636 C1411.73532,37.0040076 1411.71066,38.1136753 1412.79568,39.1987001 L1422.85677,49.2597882 L1412.79568,59.3208763 C1411.71066,60.405901 1411.73532,61.5155687 1412.86966,62.6499128 C1414.00401,63.7842568 1415.11368,63.8089161 1416.1987,62.7238913 L1426.25979,52.6628033 L1436.32088,62.7238913 C1437.4059,63.8089161 1438.51557,63.7842568 1439.64991,62.6499128 C1440.78426,61.5155687 1440.80892,60.405901 1439.72389,59.3208763 L1429.6628,49.2597882 L1439.72389,39.1987001 C1440.80892,38.1136753 1440.78426,37.0040076 1439.64991,35.8696636 Z" id="" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
</svg></a>
</div>
    <div class="about-header-video">
   <img src="{% for poster in entry.aboutVideoPoster %}{{poster.getUrl()}}{% endfor %}" class="about-video-poster"/>
        <div id="about-header-text">

 {% include "global/_playsvg" %}
        <h2>{{entry.aboutVideoHeading}}</h2>
            <p>{{entry.aboutVideoCaption}}</p>
        </div>
       
</div>
    </header>

    
    <div class="container intro work-project">
        <div class="work-col-left">
        <h2>{{entry.aboutWideHeaderBlockHeader}}</h2>
        </div>
        <div class="work-col-right">
        {{entry.aboutWideHeaderBlockText}}
        </div>
    </div>


<svg id="about-hr"  viewBox="0 1209 1482 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <polyline id="Line-Copy-4" stroke="#CCCCCC" stroke-width="1" stroke-linecap="square" fill="none" points="0.506844627 1216.78516 528 1216.78516 736 1216.78516 1098 1216.78516 1480.50182 1216.78516"></polyline>
    <g id="Group-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(710.500000, 1209.285156)">
        <polygon id="Rectangle-6-Copy-5" fill="#5EB563" points="20.2060191 0 21.9464968 0 38.166925 13.7041858 36.4264473 13.7041858"></polygon>
        <polygon id="Rectangle-6-Copy-3" fill="#5EB563" points="33.6766985 0 35.4171762 0 51.6376044 13.7041858 49.8971267 13.7041858"></polygon>
        <polygon id="Rectangle-6-Copy-6" fill="#5EB563" points="6.7353397 0 8.47581739 0 24.6962456 13.7041858 22.9557679 13.7041858"></polygon>
        <polygon id="Rectangle-6-Copy-2" fill="#5EB563" points="40.4120382 0 42.1525159 0 58.3729441 13.7041858 56.6324664 13.7041858"></polygon>
        <polygon id="Rectangle-6-Copy-7" fill="#5EB563" points="13.4706794 0 15.2111571 0 31.4315853 13.7041858 29.6911076 13.7041858"></polygon>
        <polygon id="Rectangle-6-Copy-4" fill="#5EB563" points="26.9413588 0 28.6818365 0 44.9022647 13.7041858 43.161787 13.7041858"></polygon>
        <polygon id="Rectangle-6-Copy-8" fill="#5EB563" points="0 0 1.74047769 0 17.9609059 13.7041858 16.2204282 13.7041858"></polygon>
    </g>
</svg>
    <div class="col3-container">

    {% for block in entry.aboutBox %}  
            <div class="about-col3">
                {{block.boxHeader}}
                {{block.boxText}}
            </div>
            <hr class="hr-line">
              {% endfor %}
  
        
        </div>
        <div id="about-wideimage">
            {% for asset in entry.aboutWideImage %}
            <img src="{{asset.getUrl()}}">
            {% endfor %}
            <div id="about-smallimage">
                
<svg id="about-triangle-svg" viewBox="1156 1750 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs></defs>
    <polygon id="Rectangle" stroke="none" fill="#5EB563" fill-rule="evenodd" points="1156.55859 1750.44922 1306 1750.44922 1306 1899.89062"></polygon>
</svg>
                
                {% for asset in entry.aboutSmallImage %}

   <img src="{{asset.getUrl()}}">
            {% endfor %}

            </div>
        </div>
        <div id="about-ourpeople">
            <span>
                <p>{{entry.ourPeopleHeader}}<p>
                <svg width="80px" height="19px" viewBox="180 60 80 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(180.500000, 60.000000)">
                        <polygon id="Rectangle-6-Copy-5" fill="#5EB563" points="27.3461538 0 29.7016584 0 51.6538462 18.546789 49.2983416 18.546789"></polygon>
                        <polygon id="Rectangle-6-Copy-3" fill="#5EB563" points="45.5769231 0 47.9324277 0 69.8846154 18.546789 67.5291108 18.546789"></polygon>
                        <polygon id="Rectangle-6-Copy-6" fill="#5EB563" points="9.11538462 0 11.4708892 0 33.4230769 18.546789 31.0675723 18.546789"></polygon>
                        <polygon id="Rectangle-6-Copy-2" fill="#5EB563" points="54.6923077 0 57.0478123 0 79 18.546789 76.6444954 18.546789"></polygon>
                        <polygon id="Rectangle-6-Copy-7" fill="#5EB563" points="18.2307692 0 20.5862738 0 42.5384615 18.546789 40.182957 18.546789"></polygon>
                        <polygon id="Rectangle-6-Copy-4" fill="#5EB563" points="36.4615385 0 38.817043 0 60.7692308 18.546789 58.4137262 18.546789"></polygon>
                        <polygon id="Rectangle-6-Copy-8" fill="#5EB563" points="0 0 2.35550459 0 24.3076923 18.546789 21.9521877 18.546789"></polygon>
                    </g>
                </svg>    
            </span>
        </div>
 <div id="about-team-selector">
     
     <ul>
        <li id="team-member-all"><p>ALL<p></li>
     </ul>
     <ul>
        <li id="team-member-spokane"><p>SPOKANE</p></li>
        <li id="team-member-boise"><p>BOISE</p></li>
         </ul>
    </div>
        <div id="about-team">
            <span>
                  {% set profile = craft.entries.section('profiles').first() %}
               {% for block in profile.nxnwProfiles %}  
              
                 <div class="about-team-member-all">
               
                {% for image in block.profileImage %}
               
               <img src="{{image.getUrl()}}">
                {% endfor %}

               
               <div class="team-overlay">
                   <ul>
                       
                       <li>{{block.profileName}}</li>
                        <li>{{block.profileTitle}}</li>
                       <li>{{block.profileLocation}}</li>
                    
                      
                   </ul>
               </div>
               
                </div>
              
                

{% endfor %}

            {% set profile = craft.entries.section('profiles').first() %}
               {% for block in profile.nxnwProfiles.type('spokane') %}  
              
                 <div class="about-team-member">
               
                {% for image in block.profileImage %}
               
               <img src="{{image.getUrl()}}">
                {% endfor %}

               
               <div class="team-overlay">
                   <ul>
                       
                       <li>{{block.profileName}}</li>
                        <li>{{block.profileTitle}}</li>
                       <li>{{block.profileLocation}}</li>
                    
                      
                   </ul>
               </div>
               
                </div>
              
                

{% endfor %}

{% for block in profile.nxnwProfiles.type('boise') %}  
              
                 <div class="about-team-member-boise">
               
                {% for image in block.profileImage %}
               
               <img src="{{image.getUrl()}}">
                {% endfor %}

               
               <div class="team-overlay">
                   <ul>
                       <li>{{block.profileName}}</li>
                        <li>{{block.profileTitle}}</li>
                       <li>{{block.profileLocation}}</li>
                    
                      
                   </ul>
               </div>
               
                </div>
              
                

{% endfor %}

            
           
            </span>
        </div> <!-- end of about-team -->
    </div>

   
    
    <script>
  $(document).ready(function() {

var spokane = $(".about-team-member");
var boise = $(".about-team-member-boise");
var all = $(".about-team-member-all");
var allBtn = $("#team-member-all");
var spokaneBtn = $("#team-member-spokane");
var boiseBtn = $("#team-member-boise");
var aboutTeam = $(".about-team-member, .about-team-member-boise, .about-team-member-all");

// aboutTeamMember = function() {
//     TweenLite.to(boise, 0.3, {css:{display:"none"}});
//    TweenLite.to(spokane, 0.3, {css:{opacity:"1"}});
// }
// aboutTeamMemberBoise = function() {
//      TweenLite.to(spokane, 0.3, {css:{display:"none"}});
//    TweenLite.to(boise, 0.3, {css:{opacity:"1"}});
// }

allBtn.click(function(){

$(aboutTeam).stop().animate({
     opacity: 0
  }, 350, 'easeInOutQuad', function() {

  $(spokane).css({display:"none"})
  $(boise).css({display:"none"})
  $(all).css({display:"inherit"})
          
                         $(all).stop().animate({
               opacity: 1
             }, 350, 'easeInOutQuad', function() {
            
             });
            
 });
  });


spokaneBtn.click(function(){

$(aboutTeam).stop().animate({
     opacity: 0
 }, 350, 'easeInOutQuad',function() {

  $(spokane).css({display:"inherit"})
  $(boise).css({display:"none"})
  $(all).css({display:"none"})
          
                         $(spokane).stop().animate({
               opacity: 1
            }, 350, 'easeInOutQuad', function() {
   
                    
            
             });
 });
  });

boiseBtn.click(function(){

$(aboutTeam).stop().animate({
     opacity: 0
 }, 350, 'easeInOutQuad', function() {

  $(boise).css({display:"inherit"})
  $(spokane).css({display:"none"})
  $(all).css({display:"none"})
          
                         $(boise).stop().animate({
               opacity: 1
            }, 350, 'easeInOutQuad', function() {
   
                    
            
             });
 });
  });
  
//     TweenLite.to(aboutTeam, 0.3, {css:{opacity:"0",onComplete:aboutTeamMember}});
//     // TweenLite.to(spokane, 0.3, {css:{opacity:"1"}});
// })

// boiseBtn.click(function(){

//      TweenLite.to(aboutTeam, 0.3, {css:{opacity:"0",onComplete:aboutTeamMemberBoise}});
//     // TweenLite.to(boise, 0.3, {css:{opacity:"1"}});
// })



    $('.header-video').each(function(i, elem) {
        headerVideo = new HeaderVideo({
          element: elem,
          media: '.header-video__media',
          playTrigger: '.header-video__play-trigger',
          closeTrigger: '.header-video__close-trigger'
        });
    });
  });
</script>


 {% endblock %}