{% extends "_layout" %}

{% block content %}
{% include "global/_seo" %}
{% include "global/_nav" %}
<div id="con-head" style="background:  
    url({% for image in entry.contactBackgroundImage %} {{image.getUrl()}} {% endfor %});background-position: 50% 50%;background-size: cover;">
  

    <div id="con-head-mid">
        <div id="con-head-mid-container">
            <div class="con-head-mid-col">
                <ul>
                    <li>{{entry.contactSpokaneTitle}}</li>
                    <li>{{entry.contactSpokaneAddress}}</li>
                    <li> <a class="contact-email" href="mailto:{{entry.spokaneOfficeEmail}}"> {{entry.spokaneOfficeEmail}}</a></li>
                    <li>{{entry.contactSpokanePhone}}</li>
     

           <li class="sp-next"><p>{{entry.seeSpokaneText}}</p></li>
  
         
                </ul>
            </div>
            <div class="con-head-mid-col">
                  <ul>
                    <li>{{entry.contactBoiseTitle}}</li>
                    <li>{{entry.contactBoiseAddress}}</li>
                    <li> <a class="contact-email" href="mailto:{{entry.boiseOfficeEmail}}"> {{entry.boiseOfficeEmail}}</a></li>
                    <li>{{entry.contactBoisePhone}}</li>
             
         <li class="bo-next"><p>{{entry.seeBoiseText}}</p></li>
          
  
          
                </ul>
               
            </div>
            </div>
            <div class="con-head-mid-bar"><p>{{entry.contactwhiteBarText}}</p>
            {% if entry.whiteBarEmail|length  %}
            <p><a href="mailto:{{entry.emailAddress}}">{{entry.whiteBarEmail}}</a></p>
            {% endif %}
            </div>
    </div>
</div>

    <div id="contact-team">
              
          <div class="contact-slider">
     
    
               {% for block in entry.contactProfiles.type('spokane') %}  
             
                   <div class="contact-team-member-sp">
               
                {% for image in block.contactImage %}
               
                  <img class="contact-team-image" src="{{image.getUrl()}}" >
                {% endfor %}
                   <div class="contact-team-overlay">
                       <ul>
                        <li>{{block.contactName}}</li>
                        <li>{{block.contactTitle}}</li>
                        <li>{{block.contactPhone}}</li>
                       <li> <a class="contact-email" href="mailto:{{block.contactEmail}}"> {{block.contactEmail}}</a></li>
                        <li>{{block.contactOffice}}</li>
                                              
                   </ul>
               </div>
               
               </div>
              {% endfor %} 

                {% for block in entry.contactProfiles.type('boise') %}  
             
                   <div class="contact-team-member-bo">
               
                {% for image in block.contactImage %}
               
                  <img class="contact-team-image" src="{{image.getUrl()}}" >
                {% endfor %}
                   <div class="contact-team-overlay">
                       <ul>
                        <li>{{block.contactName}}</li>
                        <li>{{block.contactTitle}}</li>
                        <li>{{block.contactPhone}}</li>
                      <li> <a class="contact-email" href="mailto:{{block.contactEmail}}"> {{block.contactEmail}}</a></li>
                        <li>{{block.contactOffice}}</li>
                                              
                   </ul>
               </div>
               
               </div>
              {% endfor %} 




  
</div>
           
               
              

        </div> <!-- end of about-team -->
        <script>
        
        $(document).ready(function(){
setTimeout(team,100);
function team(){

//  $(".slick-track").css({height:"200px"})
};
$(window).resize(function(){
    var height = $(".slick-track").height();
console.log(height);
// $(".contact-team-member .contact-team-image").css({height:height});

});

// $('footer').css({position:"absolute"});
// $('footer').css({top:"70%"});


var spokaneContactBtn = $(".sp-next"),
    boiseContactBtn = $(".bo-next"),
    spokaneContactBtnP = $(".sp-next p"),
    boiseContactBtnP = $(".bo-next p"),
    contactTeam = $(".contact-slider"),
    spokaneContactMember = $(".contact-team-member-sp"),
    boiseContactMember = $(".contact-team-member-bo"),
    contactTeamContain = $("#contact-team");

spokaneContactBtn.click(function(){
     if ($(window).width() < 600 ) {
$("html, body").animate({ scrollTop: "900px" });

     }
 $(spokaneContactBtnP).css({color:"#60BD6A"})
  $(boiseContactBtnP).css({color:"white"})
$(contactTeam).stop().animate({
     opacity: 0
 }, 350, 'easeInOutQuad',function() {
     
  $(contactTeamContain).css({display:"inherit"})
  $(spokaneContactMember).css({display:"inherit"})
  $(boiseContactMember).css({display:"none"})
          
                         $(contactTeam).stop().animate({
               opacity: 1
            }, 550, 'easeInOutQuad', function() {
   
                    
            
             });
 });
  });

boiseContactBtn.click(function(){
         if ($(window).width() < 600 ) {
$("html, body").animate({ scrollTop: "900px" });

     }

 $(spokaneContactBtnP).css({color:"white"})
  $(boiseContactBtnP).css({color:"#60BD6A"})
$(contactTeam).stop().animate({
     opacity: 0
 }, 350, 'easeInOutQuad', function() {
  $(contactTeamContain).css({display:"inherit"})
  $(boiseContactMember).css({display:"inherit"})
  $(spokaneContactMember).css({display:"none"})
          
                         $(contactTeam).stop().animate({
               opacity: 1
            }, 550, 'easeInOutQuad', function() {
   
                    
            
             });
 });
  });

 
//             $('.contact-slider').slick({
//   dots: false,
//   infinite: true,
//   speed: 700,
//   slidesToShow: 3,
//   slidesToScroll: 3,
// //   autoplay: true,
//   autoplaySpeed: 6000,
//   arrows: false,
//   responsive: [
//     {
//       breakpoint: 1024,
//       settings: {
//         slidesToShow: 3,

//         slidesToScroll: 2,
//         infinite: true,
//         dots: false
//       }
//     },
//     {
//       breakpoint: 780,
//       settings: {
//         slidesToShow: 2,
//         slidesToScroll: 2
//       }
//     },
//     {
//       breakpoint: 480,
//       settings: {
//         slidesToShow: 1,
//         slidesToScroll: 1
//       }
//     }
//     // You can unslick at a given breakpoint now by adding:
//     // settings: "unslick"
//     // instead of a settings object
//   ]
// });



        
        });
   
</script>

{% endblock %}

