<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">-->
<head>
<meta name="google" content="notranslate" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en_US" />

	  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="/assets/lib/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <!--<script src="assets/js/scripts.min.js"></script>-->
    <!--<script src="assets/lib/lib.min.js"> </script>-->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/lightbox.js"></script>
    <script src="/assets/js/slick.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <!--<link rel="stylesheet" href="/assets/lib/lib.min.css">-->
    <link rel="stylesheet" href="/assets/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/lightbox.css">
    
    <link rel="stylesheet" href="/assets/styles/styles.min.css"> 
    <link rel="stylesheet" href="/assets/slick-theme.css">
    <link rel="stylesheet" href="/assets/slick.css">
      {% for favicon in icons.favicon %}
    <link rel="icon" href="{{favicon.getUrl()}}" type="image/x-icon" />
     {% endfor %}
</head>

<body>
<div id="container">
	 
		<main id="content" role="main">
    
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>
 {% include "global/_footer" %}
		
	</div>
</body>
</html>
