
{% extends "_layout" %}

{% set thumb = {
    mode: 'crop',
    width: 500,


    quality: 75,
    
} %}
{% block content %}
{% include "global/_seo" %}
{% set work = craft.entries.section('work').first() %}
   {% include "global/_nav" %}
        <div id="the-work">
            <div id="the-work-text">THE WORK</div>
            <div id="the-work-filter">
<svg width="177px" height="45px" viewBox="1262 169 177 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

  
    <defs>
        <rect id="path-1" x="1262.63281" y="169.90625" width="175.367188" height="44"></rect>
        <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="175.367188" height="44" fill="white">
            <use xlink:href="#path-1"></use>
        </mask>
    </defs>
    <text id="FILTER" stroke="none" fill="none" font-family="Metrisch-Bold, Metrisch" font-size="21" font-weight="bold" line-spacing="62" letter-spacing="5.73999929">
        <tspan x="1319.5855" y="198.772406" fill="#282C2B">{{work.filterText}}</tspan>
    </text>
    <use id="Rectangle-4" stroke="#282C2B" mask="url(#mask-2)" stroke-width="6" fill="none" xlink:href="#path-1"></use>
    <g id="Group-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1276.238281, 184.906250)">
        <polygon id="Rectangle-6-Copy-5" fill="#5EB563" points="0.206019104 0 1.94649679 0 18.166925 13.7041858 16.4264473 13.7041858"></polygon>
        <polygon id="Rectangle-6-Copy-3" fill="#5EB563" points="13.6766985 0 15.4171762 0 31.6376044 13.7041858 29.8971267 13.7041858"></polygon>
        <polygon id="Rectangle-6-Copy-2" fill="#5EB563" points="20.4120382 0 22.1525159 0 38.3729441 13.7041858 36.6324664 13.7041858"></polygon>
        <polygon id="Rectangle-6-Copy-4" fill="#5EB563" points="6.94135881 0 8.6818365 0 24.9022647 13.7041858 23.161787 13.7041858"></polygon>
    </g>
</svg></div>
        </div>
        <div id="filter">
            <ul>
                {% for block in work.filter %}  
                <li><a href="{{block.filterUri.first().url}}">{{block.filterName}}</a></li>
                {% endfor %}
            </ul>
        </div>

 




 {% for block in entry.projectList.type('projectsLarge') %}  

           
      {% if block.projectEntry|length %}
      <a href="{{block.projectEntry.first().url}}"> 
          {% elseif block.projectEntryExternal|length %}
            <a href="http://{{block.projectEntryExternal}}"> 
                {% endif %}
          
           <div class="container project-wide work-wide" style="background-image: url(  {% for image in block.projectImage %} {{image.getUrl()}} {% endfor %}); ">
            <span class="project-wide-overlay">
       <div class="overlay-clip"></div>
<div class="overlay-arrow">
<svg width="25px" height="30px" viewBox="1404 890 28 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
   
   
    <defs></defs>
    <path d="M1430.86822,890.796951 C1429.91768,889.79005 1428.33344,889.746218 1427.32779,890.69551 L1404.78523,911.985703 C1404.28429,912.459097 1404,913.11784 1404,913.806641 C1404,914.495441 1404.28429,915.154185 1404.78523,915.627578 L1427.32779,936.917772 C1427.8112,937.374885 1428.42987,937.601562 1429.04729,937.601562 C1429.71229,937.601562 1430.37479,937.338566 1430.86822,936.81633 C1431.81752,935.810682 1431.77243,934.225188 1430.76678,933.275896 L1410.15287,913.806641 L1430.76678,894.337385 C1431.77243,893.388093 1431.81752,891.8026 1430.86822,890.796951" id="Imported-Layers" stroke="none" fill="#000000" fill-rule="evenodd" transform="translate(1417.775818, 913.806605) rotate(-180.000000) translate(-1417.775818, -913.806605) "></path>
</svg></div>
        <div class="col-6 work-wide">

           
            <ul>
        <li><h2>{{block.projectName}} </h2></li>
        <li><svg width="40px" height="20px" viewBox="180 60 80 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <defs></defs>
    <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(180.500000, 60.000000)">
        <polygon id="Rectangle-6-Copy-5" fill="#5EB563" points="27.3461538 0 29.7016584 0 51.6538462 18.546789 49.2983416 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-3" fill="#5EB563" points="45.5769231 0 47.9324277 0 69.8846154 18.546789 67.5291108 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-6" fill="#5EB563" points="9.11538462 0 11.4708892 0 33.4230769 18.546789 31.0675723 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-2" fill="#5EB563" points="54.6923077 0 57.0478123 0 79 18.546789 76.6444954 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-7" fill="#5EB563" points="18.2307692 0 20.5862738 0 42.5384615 18.546789 40.182957 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-4" fill="#5EB563" points="36.4615385 0 38.817043 0 60.7692308 18.546789 58.4137262 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-8" fill="#5EB563" points="0 0 2.35550459 0 24.3076923 18.546789 21.9521877 18.546789"></polygon>
    </g>
</svg></li>
<li><p>{{block.projectCaption}}</p></li>
        </ul></div>
        
        </span>
    </div></a>
    
  {% endfor %}





    
    <div class="container intro-projects">
         <div class="row">
         {% for block in entry.projectList.type('Projects') %}  
       

           
                                <a href="{{block.projectEntry.first().url}}">   <div class="col-md-4" onclick="location.href='{{block.projectEntry.first().url}}';" >
                                      {% for image in block.projectImage %}   <img class="work-grid-image" src="{{image.getUrl()}}"> {% endfor %}
             <div class="work-grid-overlay">
                <div class="project-box">
                    <ul>
                        <li>
               <a href="{{block.projectEntry.first().url}}">  <h5>{{block.projectName}}</h5></li></a>
                
<li><svg width="40px" height="20px" viewBox="180 60 80 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <defs></defs>
    <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(180.500000, 60.000000)">
        <polygon id="Rectangle-6-Copy-5" fill="#5EB563" points="27.3461538 0 29.7016584 0 51.6538462 18.546789 49.2983416 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-3" fill="#5EB563" points="45.5769231 0 47.9324277 0 69.8846154 18.546789 67.5291108 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-6" fill="#5EB563" points="9.11538462 0 11.4708892 0 33.4230769 18.546789 31.0675723 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-2" fill="#5EB563" points="54.6923077 0 57.0478123 0 79 18.546789 76.6444954 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-7" fill="#5EB563" points="18.2307692 0 20.5862738 0 42.5384615 18.546789 40.182957 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-4" fill="#5EB563" points="36.4615385 0 38.817043 0 60.7692308 18.546789 58.4137262 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-8" fill="#5EB563" points="0 0 2.35550459 0 24.3076923 18.546789 21.9521877 18.546789"></polygon>
    </g>
</svg></li>
<li><p>{{block.projectCaption}}</p></li>
                </div>  <!-- end of project box -->
              </div> </a>
                </div>  <!-- end of col-md-4 --> </a>

         
  
            {% endfor %}
             </div>
    </div>

    
    <div class="container bid-container">
           
    <div class="get-a-bid" style="background: 
 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
  
    url({% for image in entry.bidImage %} {{image.getUrl()}} {% endfor %});background-size: cover; background-repeat: no-repeat;">
  
        <div>
            <ul>
        <h2>{{entry.bidText}}</h2>
     
    <a href="{{ entry.contactForBidLink.first().url }}"><li>CONTACT US</li></a>

      
        </ul>
     
        </div>
        </div>
    </div>
   
   {% endblock %}