{% extends "_layout" %}

{% block content %}
{% include "global/_seo" %}
   {% include "global/_nav" %}
<div id="basic-header">
     {% for image in entry.basicHeader %}
    <img src="{{image.getUrl()}}"
  
         class="basic-header-image">
  {% endfor %}

</div>
<div id="basic-body">
    <span class="basic-heading"><p>{{entry.basicHeading}}</p></span>

    {% for block in entry.basicPageContent %}  
    {% if block.type == "basicImage" %}
     {% for image in block.basicImage %}
     
          <a href="{{image.getUrl()}}" data-lightbox="roadtrip"><img src="{{image.getUrl()}}" /> </a>
            {% endfor %}
    {% endif %}
         {% if block.type == "basicText" %}
         {{block.basicText}}
     {% endif %}
           

              {% if block.type == "basicVideo" %}

    <div class="basic-header-video">
   <img src="{% for image in block.basicVideoPoster %}{{image.getUrl()}}{% endfor %}" class="about-video-poster"/>
        <div class="basic-video-text">

 {% include "global/_playsvg" %}
        <h2>{{entry.aboutVideoHeading}}</h2>
            <p>{{entry.aboutVideoCaption}}</p>
        </div>
       
</div>
<div class="basic-video-ID">{{block.basicVideo}}</div>

     {% endif %}
               
          {% endfor %}
            
     <div class="basic-video-lightbox"> 
   </div>  

</div>
<script>

$(document).ready(function(){
$(".about-header-svg").click(function(event){

       var index = $(this).index('.about-header-svg');
    console.log(index);
 var position = $(".basic-video-ID").eq(index);
  var videoUrl = $(".basic-video-ID").eq(index).html()
  console.log(videoUrl);
   $('.basic-video-lightbox').css({'pointer-events': 'all'})
     $('.basic-video-lightbox').append('<iframe id="about-video" src="//player.vimeo.com/video/' + videoUrl + '" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><svg class="basic-video-closeBtn" width="29px" height="29px" viewBox="1412 35 29 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs></defs><path d="M1439.64991,35.8696636 C1438.51557,34.7353195 1437.4059,34.7106603 1436.32088,35.795685 L1426.25979,45.8567731 L1416.1987,35.795685 C1415.11368,34.7106603 1414.00401,34.7353195 1412.86966,35.8696636 C1411.73532,37.0040076 1411.71066,38.1136753 1412.79568,39.1987001 L1422.85677,49.2597882 L1412.79568,59.3208763 C1411.71066,60.405901 1411.73532,61.5155687 1412.86966,62.6499128 C1414.00401,63.7842568 1415.11368,63.8089161 1416.1987,62.7238913 L1426.25979,52.6628033 L1436.32088,62.7238913 C1437.4059,63.8089161 1438.51557,63.7842568 1439.64991,62.6499128 C1440.78426,61.5155687 1440.80892,60.405901 1439.72389,59.3208763 L1429.6628,49.2597882 L1439.72389,39.1987001 C1440.80892,38.1136753 1440.78426,37.0040076 1439.64991,35.8696636 Z" id="" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path></svg>');

  // $('html, body').animate({ scrollTop: $(".video-lightbox").offset().top }, 200);
    $(".basic-video-lightbox").stop().animate({
     opacity: 1
 },150, function() {
 

 });







$(".basic-video-closeBtn").click(function(){
  console.log("asda");
    // $('html, body').animate({ scrollTop: $(position).offset().top }, 300);
    console.log("click");
    // $("#slider-video")[0].pause();
    $(".basic-video-lightbox").stop().animate({
     opacity: 0
 },150, function() {
  $('#about-video').remove()
    $('.basic-video-lightbox').css({'pointer-events': 'none'})
 });

})
})

})

</script>

 {% endblock %}