{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
   {% include "global/_indexnav" %}
   {% include "global/_seo" %}
    <div class="header">
    <!-- end of video-header -->
   
   {% if entry.homeHeaderVideo|length %}
  
  <div class="video-container" style="background:black">
     {% else %}
  <div class="video-container" style="background: 
 

    url({% for image in entry.homeHeaderImage %} {{image.getUrl()}} {% endfor %});background-size: cover; background-repeat: no-repeat; background-position: center center;">

{% endif %}
<div class="header-video-overlay"></div>
        <div id="header-text">
        <h2> {{entry.mainHeader}}</h2>
            <a href="{{entry.subMainHeaderEntry.first().url}}"><li><p>{{entry.subMainHeader}}</p></li></a>
        </div>
        <div id="player">
     
   
       
        {% if entry.homeHeaderVideo|length %} %}
         <video id="#vimeo_player" muted autoplay loop mute class="fillWidth">
        <source src=" {% for video in entry.homeHeaderVideo %}
            {{video.getUrl()}}
            {% endfor %}"
        type="video/mp4" muted />Your browser does not support the video tag. I suggest you upgrade your browser.</video>
{% endif %}
        </div>
    </div>
    </div>
    
    
    <div class="container intro">
        <div class="col-6">
        <h2>{{entry.homeWideHeaderBlock}}</h2>
        </div>
        <div class="home-col-5">
      <p>{{entry.homeWideHeaderBlockText}}</p>
        </div>
    </div>

  {% for block in entry.featuredProjects.limit(4).order('RAND()') %}  
    <div class="container featured-projects">
      
           <a href="{{block.featuredEntry.first().url}}"> <div class="col-md-6" "location.href='{{block.featuredEntry.first().url }}';">
              
                 {% for image in block.featuredProjectImage %}
                
            <img src="{{image.getUrl()}}">
            {% endfor %}
                  <div class="home-overlay-clip"></div>
               <div class="project-name">

                     <p id="featuredProject-Name">{{block.clientName}}</p>

<svg width="80px" height="19px" viewBox="330 1928 80 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(330.500000, 1928.000000)">
        <polygon id="Rectangle-6-Copy-5" fill="#5EB563" points="27.3461538 0 29.7016584 0 51.6538462 18.546789 49.2983416 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-3" fill="#5EB563" points="45.5769231 0 47.9324277 0 69.8846154 18.546789 67.5291108 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-6" fill="#5EB563" points="9.11538462 0 11.4708892 0 33.4230769 18.546789 31.0675723 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-2" fill="#5EB563" points="54.6923077 0 57.0478123 0 79 18.546789 76.6444954 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-7" fill="#5EB563" points="18.2307692 0 20.5862738 0 42.5384615 18.546789 40.182957 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-4" fill="#5EB563" points="36.4615385 0 38.817043 0 60.7692308 18.546789 58.4137262 18.546789"></polygon>
        <polygon id="Rectangle-6-Copy-8" fill="#5EB563" points="0 0 2.35550459 0 24.3076923 18.546789 21.9521877 18.546789"></polygon>
    </g>
</svg>
                     <p id="featuredProject-Caption">{{block.featuredProjectCaption}}</p>
                </div>
            </div></a>
            {% endfor %}
           
    
       
    </div> <!-- end of container intro-projects -->
     <div id="see-the-work">
         <ul>
             <li class="underline">
            <a href="{{siteUrl}}work"> {{entry.homepageFeaturedSeeMore}}</a></p>
           </li>
            </div>
     <div class="container intro">
        <div class="col-6">
        <h2>{{entry.homeWideHeaderBlockSecond}}</h2>
        </div>
      
    </div>
   
      <div class="our-services">
          <svg id="about-hr" viewBox="0 1209 1482 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <polyline id="Line-Copy-4" stroke="#CCCCCC" stroke-width="1" stroke-linecap="square" fill="none" points="0.506844627 1216.78516 528 1216.78516 736 1216.78516 1098 1216.78516 1480.50182 1216.78516"></polyline>
    
</svg>
              {% for block in entry.homeServices %}  
     
<ul class="list"  {% if block.pageLink|length %} onclick="location.href='{{block.pageLink.first().url}}';" style="cursor:pointer" {% endif %} >
  <li class="list-item">
    <div class="list-content">
        <ul>
           {% if block.pageLink|length %}
      <li class="services-name-link">{{block.servicesName}}</li>
       {% else %}
           <li>{{block.servicesName}}</li>
           {% endif %}
        <li>{{block.servicesText}}</li>
        </ul>
      {% for image in block.homeImage %}
     {% if block.pageLink|length %}
      <div class="services-imageOverlay">
        {% else %}
         <div class="services-imageNoOverlay">
           {% endif %}
<div class="services-image-container">
                  <img class="services-image" src="{{image.getUrl()}}"> 
</div>
      </div>
                        {% endfor %}
    
    
    </div>
  </li>

  
</ul>

   {% endfor %}
      </div>
  
    <script>
  $(document).ready(function() {
    $('.header-video').each(function(i, elem) {
        headerVideo = new HeaderVideo({
          element: elem,
          media: '.header-video__media',
          playTrigger: '.header-video__play-trigger',
          closeTrigger: '.header-video__close-trigger'
        });
    });
  });
</script>
    

{% endblock %}
